/* Rosé Pine — https://github.com/rose-pine/waybar */
@define-color base          #191724;
@define-color surface       #1f1d2e;
@define-color overlay       #26233a;
@define-color muted         #6e6a86;
@define-color subtle        #908caa;
@define-color text          #e0def4;
@define-color love          #eb6f92;
@define-color gold          #f6c177;
@define-color rose          #ebbcba;
@define-color pine          #31748f;
@define-color foam          #9ccfd8;
@define-color iris          #c4a7e7;
@define-color highlightLow  #21202e;
@define-color highlightMed  #403d52;
@define-color highlightHigh #524f67;

* {
  min-height: 0;
  min-width: 0;
  font-family: Lexend, "JetBrainsMono NFP";
  font-size: 16px;
  font-weight: 600;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: @base;
}

#workspaces button {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: @surface;
  color: @text;
}

#workspaces button:hover {
  color: @base;
  background-color: @text;
}

#workspaces button.active {
  background-color: @surface;
  color: @foam;
}

#workspaces button.urgent {
  background-color: @surface;
  color: @love;
}

#clock,
#pulseaudio,
#custom-logo,
#custom-power,
#custom-spotify,
#custom-notification,
#cpu,
#tray,
#memory,
#window,
#mpris {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: @surface;
}

#mpris.playing {
  color: @foam;
}

#mpris.paused {
  color: @muted;
}

#custom-sep {
  padding: 0px;
  color: @highlightHigh;
}

window#waybar.empty #window {
  background-color: transparent;
}

#cpu {
  color: @foam;
}

#memory {
  color: @iris;
}

#clock {
  color: @rose;
}

#clock.simpleclock {
  color: @foam;
}

#window {
  color: @text;
}

#pulseaudio {
  color: @iris;
}

#pulseaudio.muted {
  color: @subtle;
}

#custom-logo {
  color: @foam;
}

#custom-power {
  color: @love;
}

tooltip {
  background-color: @surface;
  border: 2px solid @foam;
}
